.advertisement-preview a {
  color: #333;
}

.advertisement-slider {
  background: #fff;
  color: #949ba2;
  height: 50px;
  padding-left: 50px;
  padding-top: 7px;
  max-width: 800px;
  overflow: hidden;
  position: relative;

  span {
    font-size: 1.2em !important;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    display: block;
    max-height: 16px;
  }

  .advertisement_headline {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }

  .advertisement_deck {
    text-decoration: none;
    font-size: 14px;
  }
}

.hidden_data_search_column {
  display: none;
}

.advertisement_consumer_settlement_ledger_list {
  .p-datatable .p-datatable-tbody > tr > td.advertisement_preview_datatable_column {
    padding: 1rem;
    max-width: 50rem;
  }

  .advertisement-slider {
    padding: 0;
    display: contents;
    background-color: transparent;
  }

  .advertisement-preview {
    overflow: hidden;
    margin: 0;
    line-height: 1rem;
    max-width: none;
  }

  a {
    color: $color-body-font !important;
  }
}
