.panel-body > .row {
    margin-left: 0;
    margin-right: 0;
}

.switchery-small {
    border-radius: 15px;
    height: 15px;
}

.switchery-small > small {
    height: 15px;
    width: 15px;
}

.switch-class.network-switch label {
    font-size: 75% !important;
    color: #949ba2 !important;
}

th {
    font-weight: normal !important;
    font-size: 18px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

mr-3 {
    margin-right: 15px;
}

.hrPanel {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-full-width {
    width: 100%;
}

.label-btn {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.panel-heading {
    font-size: 1.4rem;
}

.dropdown-luna {
    background: #494b54;
    color: #6d7571;
}

.li-a {
    color: #fff !important;
}

.li-a:hover {
    color: #fff !important;
    background-color: #9400CE !important;
}

.dropdown-lu {
    background: #2f323b;
}

.dataTables_length.bs-select > label {
    color: #949ba2;
}

.dataTables_length.bs-select > label > .custom-select {
    width: 65px;
    display: inline;
    color: #ffffff;
    background-color: #9400CE;
    border-color: #9400CE;
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

.dataTables_length.bs-select > label > .custom-select option {
    background-color: rgb(47, 50, 59);
    color: #fff;
}

.pagination {
    margin-top: 0;
}

.pagination > li > a:hover {
    cursor: pointer;
}

pre {
    background-color: transparent;
    color: #949ba2 !important;
}

#txhistory div[data-test="datatable-table"] {
    max-width: 100%;
    overflow-x: scroll;
}

#txhistory td {
    white-space: nowrap;
}

.mnemonic {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mnemonic-cell {
    align-items: center;
    text-align: center;
    height: 50px;
    padding: 3px;
}

.mnemonic-cell > div {
    width: 100%;
    height: 100%;
    border: solid 1px;
    border-radius: 3px;
}

.mnemonic-cell > div > .phrase {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mnemonic-cell > div > .phrase-number {
    float: left;
    margin-left: 3px;
    margin-top: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    text-align: center;
}

.align-right {
    display: flex;
    flex-direction: row-reverse;
}

._y9pkY._1-LPA ._3CEPH {
    background-color: #9400CE;
}

._y9pkY._1-LPA ._3CEPH:hover {
    background-color: #C741FC;
}

._y9pkY::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 3px;
    width: 100%;
    right: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background: linear-gradient(to left, #e7eaf3 50%, #C741FC 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 200ms ease-in-out;
}

.btn-accent[disabled]:hover {
    background-color: transparent;
    color: white;
}

.btn-accent[disabled] {
    background-color: transparent;
}

.content > div {
    opacity: 1;
}

a > i.stroke-hamburgermenu, a.navbar-brand {
    cursor: pointer;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    /*background-color: #fff;*/
    background-color: #494b54;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.rbt-menu > .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    /*color: #212529;*/
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu > a {
    color: #949ba2;
}

.dropdown-menu > a:hover {
    text-decoration: none !important;
    color: #fff;
}

.rbt .rbt-input-main::-ms-clear {
    display: none
}

.rbt-menu {
    margin-bottom: 2px
}

.rbt-menu > .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis
}

.rbt-menu > .dropdown-item:focus {
    outline: none
}

.rbt-menu-pagination-option {
    text-align: center
}

.rbt-input-multi {
    cursor: text;
    overflow: hidden;
    position: relative
}

.rbt-input-multi.focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    color: #495057;
    outline: 0
}

.control-label {
    font-size: 18px;
}

.rbt-input-multi.form-control {
    height: auto
}

.rbt-input-multi.form-control[disabled] {
    background-color: #e9ecef;
    opacity: 1
}

.rbt-input-multi.is-invalid.focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25)
}

.rbt-input-multi.is-valid.focus {
    border-color: #28a745;
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25)
}

.rbt-input-multi input::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.rbt-input-multi input:-ms-input-placeholder {
    color: #6c757d
}

.rbt-input-multi input::-webkit-input-placeholder {
    color: #6c757d
}

.rbt-input-multi .rbt-input-wrapper {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -4px;
    margin-top: -1px;
    overflow: hidden
}

.rbt-input-multi .rbt-input-main {
    margin: 1px 0 4px
}

.rbt-close {
    z-index: 1
}

.rbt-close-lg {
    font-size: 24px
}

.rbt-token {
    background-color: #e7f4ff;
    border: 0;
    border-radius: .25rem;
    color: #949ba2;;
    display: inline-block;
    line-height: 1em;
    margin: 1px 3px 2px 0;
    padding: 4px 7px;
    position: relative
}

.rbt-token-disabled {
    background-color: rgba(0, 0, 0, .1);
    color: #495057;
    pointer-events: none
}

.rbt-token-removeable {
    cursor: pointer;
    padding-right: 21px
}

.rbt-token-active {
    background-color: #007bff;
    color: #fff;
    outline: none;
    text-decoration: none
}

.rbt-token .rbt-token-remove-button {
    bottom: 0;
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    opacity: 1;
    outline: none;
    padding: 3px 7px;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: -2px
}

.rbt-aux {
    align-items: center;
    display: flex;
    bottom: 0;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px
}

.rbt-aux-lg {
    width: 46px
}

.rbt-aux .rbt-close {
    margin-top: -4px;
    pointer-events: auto
}

.has-aux .rbt-input {
    padding-right: 34px
}

.rbt-highlight-text {
    background-color: inherit;
    color: inherit;
    font-weight: bold;
    padding: 0
}

.input-group > .rbt {
    flex: 1
}

.input-group > .rbt .rbt-input-hint, .input-group > .rbt .rbt-aux {
    z-index: 5
}

.input-group > .rbt:not(:first-child) .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.input-group > .rbt:not(:last-child) .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.form-control {
    padding: 0em 1em;
    font-size: 18px;
}

.hint {
    font-style: italic;
}

.panel-body .error {
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25);
    border-radius: .25rem;
    display: inline-block;
    padding: 4px 7px;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 1px 3px 15px 0;
    background-color: rgba(220, 53, 69, .15);
    color: #949ba2;
}

.panel-body .success {
    border-color: #28a745;
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25);
    border-radius: .25rem;
    display: inline-block;
    padding: 4px 7px;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 1px 3px 15px 0;
    background-color: rgba(40, 167, 69, .15);
    color: #949ba2;
}

.preview-holder {
    padding: 0px 10px;
    color: #949ba2;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    transition: none;
}

.ad-preview a {
    color: #333;

}

.h-50 {
    height: 50px;
}

.pt-7 {
    /*padding-top: 7px !important;*/
}

.m-0 {
    margin: 0 !important;
}

.ads-slider {
    /*{!*    padding   : '10px',*!}*/

    /*background: #494b54;*/
    background: #fff;
    color: #949ba2;

    height: 50px;
    padding-left: 50px;
    padding-top: 7px;
    max-width: 800px;
    overflow: hidden;
    position: relative;
}

.ads-slider span {
    font-size: 1.2em !important;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    display: block;
    max-height: 16px;
    /*overflow: hidden;*/
}

#advertisement_headline {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

#advertisement_deck {
    text-decoration: none;
    font-size: 14px;
}

a {
    color: #C741FC;
}

a:hover, a:focus {
    color: #C741FC;
    text-decoration: underline;
}

.btn-xs {
    font-size: 1rem !important
}

.modal-open .addFundsModal {
    opacity: 1 !important;
}

.modal-open .addFundsModal .modal-dialog {
    margin: 11rem auto;
}

.addFundsModal .modal-dialog .modal-header {
    padding: 0px 30px;
}

.addFundsModal .modal-dialog .modal-header button {
    padding: 20px 0;
}

.modal-open .addFundsModal .center-text {
    text-align: center;
}


