.ad-preview a {
    color: #333;
}

.ads-slider {
    background: #fff;
    color: #949ba2;

    height: 50px;
    padding-left: 50px;
    padding-top: 7px;
    max-width: 800px;
    overflow: hidden;
    position: relative;
}

.ads-slider span {
    font-size: 1.2em !important;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    display: block;
    max-height: 16px;
}

#advertisement_headline {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

#advertisement_deck {
    text-decoration: none;
    font-size: 14px;
}
