.p-datatable-table {
  margin-bottom: 1rem;
  width: 100%;
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr {
  background-color: $table-bg;
}

.p-datatable .p-datatable-thead > tr:hover,
.p-datatable .p-datatable-tbody > tr:hover,
.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd:hover {
  background-color: $table-hover-bg;
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
  border: $border-width solid $border-color;
  padding: 0.5rem 1rem;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  border-width: $border-width;
}

.p-datatable .p-sortable-column:focus {
  box-shadow: none;
}

.p-datatable .p-datatable-tbody > tr {
  color: inherit;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
  background-color: $table-striped-bg;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: $body-color;
  margin-left: auto;
}

.p-datatable .p-sortable-column.p-highlight:not(.p-sortable-disabled):hover .p-sortable-column-icon,
.p-datatable .p-sortable-column.p-highlight:not(.p-sortable-disabled):hover,
.p-datatable .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover,
.p-datatable .p-sortable-column.p-highlight,
.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: $color-white;
  background: inherit;
}
