@import './variable';

.labeled > .fa,
button > .fa,
body .section_subtitle > .fa,
.labeled > .fal,
button > .fal,
body .section_subtitle > .fal,
.labeled > .far,
button > .far,
body .section_subtitle > .far,
.labeled > .fas,
button > .fas,
body .section_subtitle > .fas,
.labeled > .fab,
button > .fab,
body .section_subtitle > .fab {
  margin-right: 0.3em;
}

.btn,
.form-control,
.input-group-addon {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-size: 1em;
  padding: 0.5em 1em;
}

.btn,
.btn-xs {
  display: inline-block;
}

.input-group-btn {
  font-size: 1em;
}

.form-group,
.form-group.custom_form_element {
  margin-bottom: 1rem;
}

.btn-outline-primary {
  color: $color-body-font;
}

.btn {
  border-width: 0.1rem;
  border-radius: 0.3rem;
}

.btn-xs {
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.1rem 0.7rem;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.3em 0.8em;
  font-size: 1rem;
  line-height: 1.5;
}

.form-label,
label {
  color: $color-white;
  margin-bottom: .3rem;
}

.form-error {

}

.form-input-error {
  margin-top: 0.1rem;
  display: inline-block;
}

.btn-outline-default,
.btn-outline-input-group-addon {
  @include button-outline-default();

  &:focus {
    box-shadow: none;
  }
}

.btn:not(.icon_only) {
  > .svg-inline--fa {
    margin-right: 0.3em;
  }
}

.input-group-text {
  border: $border-width solid $color-input-bg;
  border-width: 0 $border-width 0 0;
  background-color: $color-input-bg-disabled;
  min-width: 2.65rem;
  justify-content: center;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb(96, 97, 107)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
