@import './variable';

.labeled > .svg-inline--fa,
.labeled > .fa,
button > .fa,
body .section_subtitle > .fa,
.labeled > .fal,
button > .fal,
body .section_subtitle > .fal,
.labeled > .far,
button > .far,
body .section_subtitle > .far,
.labeled > .fas,
button > .fas,
body .section_subtitle > .fas,
.labeled > .fab,
button > .fab,
body .section_subtitle > .fab {
  margin-right: 0.3em;
}

.btn,
.form-control,
.input-group-addon {
  align-items: center;
  display: inline-flex;
  font-size: 1em;
  padding: 0.5em 1em;
}

.btn,
.btn-xs {
  display: inline-block;
}

.input-group-btn {
  font-size: 1em;
}

.form-group,
.form-group.custom_form_element {
  margin-bottom: 1rem;
}

.btn-outline-primary {
  color: $color-body-font;
}

.btn {
  border-width: 0.1rem;
  border-radius: 0.3rem;
}

.btn-outline-default,
.btn {
  &:disabled,
  &.disabled {
    color: $color-body-font;
  }
}

.btn-xs {
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.1rem 0.7rem;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.3em 0.8em;
  font-size: 1rem;
  line-height: 1.5;
}

.form-label,
label {
  color: $color-white;
  margin-bottom: .3rem;
}

.form-error {

}

.form-input-error {
  margin-top: 0.1rem;
  display: inline-block;
}

.btn-outline-default,
.btn-outline-input-group-addon {
  @include button-outline-default();

  &:focus {
    box-shadow: none;
  }
}

.btn-xs:not(.icon_only),
.btn:not(.icon_only) {
  > .svg-inline--fa {
    margin-right: 0.3em;
  }
}

.input-group-text {
  border: $border-width solid $color-input-bg;
  border-width: 0 $border-width 0 0;
  background-color: $color-input-bg-disabled;
  min-width: 2.65rem;
  justify-content: center;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb(96, 97, 107)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.btn-outline-default:disabled {
  color: $border-color;
}

.chip_input {
  box-shadow: none !important;

  &.styles_chip-input__3aumB {
    padding: 0;
    border: $input-border-width solid $input-border-color;

    > div > div {
      padding: 0 !important;
      margin: 0 0.1rem;

      .styles_chip__i-PT7,
      .styles_chip__i-PT7:hover,
      .styles_chip__i-PT7:focus,
      .styles_chip__i-PT7:active {
        margin-left: 0.5rem;
        align-items: center;
        background: $color-bg-layer-2;
        border: 1px solid $color-tab-hover;
        border-radius: 1rem;
        display: inline-flex;
        height: 2rem;
        font-size: 1rem;
        padding: 0 0.7rem 0 1rem;
      }
    }
  }

  &.styles_shadow-primary__2LDux {
    box-shadow: none;
  }

  > div {
    width: 100%;
  }

  .no-gutters {
    --bs-gutter-x: 1rem;
  }

  svg {
    fill: $color-body-font;
    padding-left: 0.2rem;
  }

  .custom-form-control > input {
    background-color: transparent;
    margin: 0 0.2rem;
  }
}

.form-check {
  min-height: auto;
  padding-left: 0;
  align-items: center;
  display: flex;
  margin-right: 0.3rem;

  .form-check-input {
    margin-left: 0;
  }
}
