@import './bootstrap/variable';
@import './variable';
@import 'mixin/mixin';
@import 'navbar';
@import 'panel';
@import 'form';
@import 'table';
@import 'datatable';
@import 'dropdown';
@import 'modal';
@import "volume-control";
@import "loader";

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  min-height: 100%;
  position: relative;
}


@media screen and (min-width: 2881px) {
  html,
  body {
    font-size: 28px;
  }
}

@media screen and (min-width: 2521px) and (max-width: 2880px) {
  html,
  body {
    font-size: 22px;
  }
}

@media screen and (min-width: 2021px) and (max-width: 2521px) {
  html,
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) and (max-width: 2020px) {
  html,
  body {
    font-size: 14px;
  }
}

.labeled > .fa,
button > .fa,
body .section_subtitle > .fa,
.labeled > .fal,
button > .fal,
body .section_subtitle > .fal,
.labeled > .far,
button > .far,
body .section_subtitle > .far,
.labeled > .fas,
button > .fas,
body .section_subtitle > .fas,
.labeled > .fab,
button > .fab,
body .section_subtitle > .fab {
  margin-right: 0.3em;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  min-height: 100%;
  position: relative;
}


@media screen and (min-width: 2881px) {
  html,
  body {
    font-size: 28px;
  }
}

@media screen and (min-width: 2521px) and (max-width: 2880px) {
  html,
  body {
    font-size: 22px;
  }
}

@media screen and (min-width: 2021px) and (max-width: 2521px) {
  html,
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) and (max-width: 2020px) {
  html,
  body {
    font-size: 14px;
  }
}

.labeled > .fa,
button > .fa,
body .section_subtitle > .fa,
.labeled > .fal,
button > .fal,
body .section_subtitle > .fal,
.labeled > .far,
button > .far,
body .section_subtitle > .far,
.labeled > .fas,
button > .fas,
body .section_subtitle > .fas,
.labeled > .fab,
button > .fab,
body .section_subtitle > .fab {
  margin-right: 0.3em;
}

.fa-arrow-right.arrow_up_right {
  transform: rotate(-45deg);
}

hr {
  width: 100%;
}

a {
  cursor: pointer;
}

body.nav-toggle .navigation {
  left: -$sidebar-width;
}

.new_version_badge {
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 0.3rem;
}

body.nav-toggle .content {
  margin-left: 0;
}

.navigation {
  background-color: $color-sidenav;
  width: $sidebar-width;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: left 0.3s ease-out;
  -webkit-transition: left 0.3s ease-out;
}

.content {
  background: $color-body-bg;
  padding-top: $navbar-height;
  margin-left: $sidebar-width;
  position: relative;
  transition: margin-left 0.3s ease-out;
  -webkit-transition: margin-left 0.3s ease-out;
}

.content > div {
  padding: $content-spacing;
}


body .modal_title,
body .page_title {
  font-size: 1.8rem;
  font-weight: 500;
}

body .modal_subtitle,
body .page_subtitle {
  font-size: 1.4rem;
  font-weight: 400;
}

body .section_title {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.4rem;
  margin-top: 0;
}

body .widget_title,
body .section_subtitle {
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 500;
  color: $color-white;
  margin-bottom: 0.5rem;
  width: 100%;
}

.unlock-container,
.import_mnemonic_container,
.create_wallet_container {
  padding: 10rem 0;
  margin: auto;
}

.unlock-container {
  max-width: 55rem;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.max-w-100 {
  max-width: 100%;
}

.help_icon {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.8em;
  margin-left: 0.3rem;

  &:hover {
    color: $color-secondary;
  }
}

ul {
  margin-bottom: 0;
}

.popover-body {
  ul {
    padding-left: 1rem;

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.balance_panel {
  align-items: center;
  display: flex;
  flex-direction: column;

  .balance_container {
    display: flex;


    .toggle_button_container {
      &.rotate {
        .toggle_button {
          transform: rotate(180deg);
        }
      }

      .toggle_button {
        cursor: pointer;
        margin-left: 0.3rem;

        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;

        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;

        overflow: hidden;
      }
    }

    > svg {
      fill: $color-primary;
      height: 2.1rem;
      margin-top: 0.25rem;
      margin-right: 0.3rem;
    }

    .stable_millix {
      display: flex;
      color: $color-white;
      font-size: 2.8rem;

      > span {
        line-height: 1;
      }
    }

    .pending {
      > span {
        margin-left: 0.5rem;
      }
    }
  }

  .stable_fiat {
    display: flex;
    font-size: 2rem;
    overflow: hidden;

    > .symbol {
      margin-right: 0.3rem;
    }

    > span {
      line-height: 1;
    }
  }

  .primary_address,
  .pending {
    font-size: 1.4rem;
    word-break: break-all;
  }

  .help_icon {
    font-size: 1.12rem;
  }
}

h1, .h1,
.font_size_h1 {
  font-size: 3rem;
}

h2, .h2,
.font_size_h2 {
  font-size: 2.6rem;
}

h3, .h3,
.font_size_h3 {
  font-size: 2.2rem;
}

h4, .h4,
.font_size_h4 {
  font-size: 1.8rem;
}

h5, .h5,
.font_size_h5 {
  font-size: 1.4rem;
}

h6, .h6,
.font_size_h6 {
  font-size: 1.2rem;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.panel-body h5,
.panel-body h4 {
  font-weight: 400;
}

.text-white {
  color: $color-white !important;
}

.message_inbox_count_badge {
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 0.3rem;
  color: #ffffff !important;
}

.nftParent.sidenav---expanded---1KdUL, .messageParent.sidenav---expanded---1KdUL {
  > .sidenav---navitem---9uL5T {
    .message_inbox_count_badge {
      display: none;
    }
  }
}

.nft-transfer-img-wrapper {
  text-align: center;

  img {
    max-height: 30rem;
    padding: 1rem;
  }
}

.transfer-subtitle {
  color: $color-white !important;
  margin-bottom: 0.5rem;
}

.file-uploader {
  svg {
    margin: 1rem;
  }

  img {
    max-height: 30rem;
    max-width: 100%;
  }

  button {
    margin-bottom: 1rem;
  }

  .clear-file-input-icon {
    cursor: pointer;
    position: absolute;
    top: -2rem;
    right: -2rem;

    path {
      fill: $color-primary;
    }
  }

  .preview {
    display: inline-block;
    position: relative;
  }
}

