@import './bootstrap/variable';
@import './variable';
@import 'mixin/mixin';
@import 'navbar';
@import 'panel';
@import 'form';
@import 'table';
@import 'datatable';
@import 'dropdown';
@import 'modal';

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  min-height: 100%;
  position: relative;
}


@media screen and (min-width: 2881px) {
  html,
  body {
    font-size: 28px;
  }
}

@media screen and (min-width: 2521px) and (max-width: 2880px) {
  html,
  body {
    font-size: 22px;
  }
}

@media screen and (min-width: 2021px) and (max-width: 2521px) {
  html,
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) and (max-width: 2020px) {
  html,
  body {
    font-size: 14px;
  }
}

.labeled > .fa,
button > .fa,
body .section_subtitle > .fa,
.labeled > .fal,
button > .fal,
body .section_subtitle > .fal,
.labeled > .far,
button > .far,
body .section_subtitle > .far,
.labeled > .fas,
button > .fas,
body .section_subtitle > .fas,
.labeled > .fab,
button > .fab,
body .section_subtitle > .fab {
  margin-right: 0.3em;
}

hr {
  width: 100%;
}

a {
  cursor: pointer;
}

body.nav-toggle .navigation {
  left: -$sidebar-width;
}

body.nav-toggle .content {
  margin-left: 0;
}

.navigation {
  background-color: $color-sidenav;
  width: $sidebar-width;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: left 0.3s ease-out;
  -webkit-transition: left 0.3s ease-out;
}

.content {
  background: $color-body-bg;
  margin-top: $navbar-height;
  margin-left: $sidebar-width;
  position: relative;
  transition: margin-left 0.3s ease-out;
  -webkit-transition: margin-left 0.3s ease-out;
}

.content > div {
  padding: $content-spacing;
}


body .modal_title,
body .page_title {
  font-size: 1.8rem;
  font-weight: 500;
}

body .modal_subtitle,
body .page_subtitle {
  font-size: 1.4rem;
  font-weight: 400;
}

body .section_title {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.4rem;
  margin-top: 0;
}

body .widget_title,
body .section_subtitle {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  color: $color-white;
  margin-bottom: 0.5rem;
  width: 100%;
}

.unlock-container,
.import_mnemonic_container,
.create_wallet_container {
  margin: 10rem auto 0;
}

.unlock-container {
  max-width: 55rem;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.max-w-100 {
  max-width: 100%;
}

.help_icon {
  margin-left: 0.3rem;
  cursor: pointer;
  font-size: 0.8em;
  display: inline-flex;

  &:hover {
    color: $color-secondary;
  }
}

ul {
  margin-bottom: 0;
}

.popover-body {
  ul {
    padding-left: 1rem;

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.balance_panel {
  align-items: center;
  display: flex;
  flex-direction: column;

  .balance_container {
    display: flex;

    > svg {
      fill: $color-primary;
      height: 2.1rem;
      margin-top: 0.25rem;
      margin-right: 0.3rem;
    }

    .stable {
      display: flex;
      color: $color-white;
      font-size: 2.8rem;

      > span {
        line-height: 1;
      }
    }

    .pending {
      > span {
        margin-left: 0.5rem;
      }
    }
  }

  .primary_address,
  .pending {
    font-size: 1.4rem;
    word-break: break-all;
  }
}

h1, .h1,
.font_size_h1 {
  font-size: 3rem;
}

h2, .h2,
.font_size_h2 {
  font-size: 2.6rem;
}

h3, .h3,
.font_size_h3 {
  font-size: 2.2rem;
}

h4, .h4,
.font_size_h4 {
  font-size: 1.8rem;
}

h5, .h5,
.font_size_h5 {
  font-size: 1.4rem;
}

h6, .h6,
.font_size_h6 {
  font-size: 1.2rem;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.panel-body h5,
.panel-body h4 {
  font-weight: 400;
}
