@import './variable';
@import 'navbar';
@import 'panel';
@import 'form';
@import 'table';
@import 'datatable';
@import 'dropdown';

a {
  cursor: pointer;
}

body.nav-toggle .navigation {
  left: -$sidebar-width;
}

body.nav-toggle .content {
  margin-left: 0;
}

.navigation {
  background-color: $color-sidenav;
  width: $sidebar-width;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: left 0.3s ease-out;
  -webkit-transition: left 0.3s ease-out;
}

.content {
  background: #2d3038;
  margin-top: $navbar-height;
  margin-left: $sidebar-width;
  position: relative;
  transition: margin-left 0.3s ease-out;
  -webkit-transition: margin-left 0.3s ease-out;
}

.content > div {
  padding: $content-spacing;
}


.referral_widget .brand_title,
body .modal_title,
body .page_title {
  font-size: 1.8rem;
  font-weight: 500;
}

body .modal_subtitle,
body .page_subtitle {
  font-size: 1.4rem;
  font-weight: 400;
}

body .section_title {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.4rem;
  margin-top: 0;
}

body .progress_bar_label,
body .widget_title,
body .section_subtitle {
  font-size: 1.2rem;
  font-weight: 500;
}

body .widget_title,
body .section_subtitle {
  color: $color-white;
}
