@import "variable";

@mixin loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 0.25rem solid $border-color;
  border-top: 0.25rem solid $color-primary;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
}

.btn-outline-input-group-addon.loader {
  opacity: 1;
  padding: 0.5em 0.8em;

  .loader-spin {
    margin-right: 0;
  }
}

.btn {
  .loader-spin {
    margin-right: 0.3rem;
  }
}

.btn.btn_loader {
  display: inline-flex;

  .loader-spin {
    height: 1.3rem;
    width: 1.3rem;
  }
}

.loader-spin {
  @include loader;
}

.loader-container {
  width: 100%;
  height: 100vh;
  background: #00000067;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-container .loader .circle {
  animation: spin 1s linear infinite;
  border: 0.5rem solid $border-color;
  border-top: 0.5rem solid $color-primary;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
