.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 $border-width;
}

.navbar {
  min-height: $navbar-height;
  padding: 0;

  .navbar-collapse {
    display: flex;
    background: $panel-color-bg;
  }

  .address_key_identifier {
    align-items: center;
    display: inline-flex;
    word-break: break-all;
    margin-left: auto;
    padding: 0 $content-spacing 0 0;
  }
}

.navbar .navbar-header {
  display: flex;
}

.navbar-default {
  border-bottom: none;
  background-color: $color-white;
  box-shadow: 0 0 1.5rem $navbar-shadow-color;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  width: $sidebar-width;
  background-color: $color-primary;
  height: $navbar-height;
  display: inline-flex;
  align-items: center;
  padding: 0 $sidebar-nav-item-padding-right 0 $sidebar-nav-item-padding-left;
  letter-spacing: 0.14rem;
  color: $color-white;
  text-decoration: none;
  margin-right: 0;
}

.left-nav-toggle {
  height: $navbar-height;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: $content-spacing;
  flex: 0 1 0;

  &:hover {
    color: $color-primary;
  }
}
