@import 'bootstrap/variable';

.card-img-top:hover {
  transform: scale(0.98);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card-img-top {
  cursor: pointer;
}

.nft-value-container {
  margin-top: 0;
  margin-bottom: 1rem;
  align-items: center;
  display: flex;


  > svg {
    fill: $color-primary;
    height: 2.1rem;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
  }

  .millix-value {
    display: flex;
    color: $color-white;
    font-size: 1.4rem;

    > span {
      line-height: 1;
    }
  }
}

.nft-card {
  background-color: $color-bg-layer-2;
  border: $border-width solid $border-color;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 100%;

  .card-body {
    display: flex;
    flex: 0 1;
    flex-direction: column;
    margin-top: auto;
  }
}

.nft-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  min-height: 1.5rem;
}

.nft-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  min-height: 1.5rem;
}

.nft-collection-img {
  padding: 1rem 0 0 0;
  width: 100%;
  height: 24rem;
  display: flex;

  > img {
    max-height: 100%;
    max-width: 100%;
    align-self: flex-start;
    margin: 0 auto;
  }
}

.nft-action-section {
  display: flex;
  flex: 0 1;
  flex-direction: row;

  .preview_link {
    margin-left: auto;
    margin-right: 1rem;
  }
}
