$panel-spacing: 1rem;

.panel {
  border-radius: $border-radius;
  margin-bottom: 1rem;
  border: $border-width solid $border-color;
}

.tab-pane {
  > .panel {
    border-top: none;
  }
}

.panel.panel-filled {
  background-color: $panel-color-bg;
}

.panel > .panel-heading {
  font-size: 1.4rem;
  color: $color-white;
}

.panel-heading {
  padding: 0.7rem $panel-spacing;
  border-bottom: $border-width solid transparent;
  @include border-top-radius();
}

.panel-heading.bordered {
  border-bottom: $border-width solid $border-color;
}

.panel .panel-body {
  padding: $panel-spacing;
}

.panel .panel-body .submit-row {
  margin-bottom: 1rem;
}

.tab-pane {
  .panel {
    border: none;
  }

  .panel-body {
    border-width: 0 $border-width $border-width $border-width;
    border-style: solid;
    border-color: $border-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.nav-tabs {
  border-bottom: $border-width solid $border-color;

  .nav-link {
    color: $color-font-left-nav-base;
    border-width: $border-width $border-width 0 $border-width;
    border-style: solid;
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }

    &.active,
    .nav-item.show .nav-link {
      border-color: $border-color;
      color: $color-font-left-nav-hover !important;
      background-color: $color-panel-filed-background !important;
      cursor: default;
    }

    .page_subtitle {
      text-align: center;
    }
  }
}
