.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T {
    font-size: 1rem;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
    color: #848C94;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
    border-left: 6px solid #9400CE;
    padding-left: 19px;
    color: #C0C4C8;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
    letter-spacing: 2px;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
    padding-top: 15px;
    bottom: auto;
}

.nav-info {
    margin-top: 50px;
    padding: 20px 25px 25px 25px;
    font-size: 0.9rem;
    background-color: #24262d;
    float: left;
    width: 100%;
}

.nav-utc_clock {
    color: rgb(255, 255, 255);
    padding: 18px 16px 15px 25px;
    font-size: 1rem;
}
