// todo: consider if color variables below should exist

$color-red: #db524b;
$color-yellow: #f7af3e;
$color-green: #1bbf89;

$color-white: #ffffff;
$color-black: #000000;

$color-font-primary: #C741FC;

$color-font-left-nav-base: #848c94;
$color-font-left-nav-hover: #c0c4c8;

$color-body-bg: #2d3038;
$color-body-font: #949ba2;

$color-primary: #9400ce;
$color-secondary: #c741fc;

$color-input-bg: #494b54;
$color-input-bg-disabled: #2c2e34;

$color-sidenav: #24262d;
$navbar-height: 4.3rem;
$navbar-shadow-color: #161616;

$content-spacing: 1.5rem;

$sidebar-width: 14.2rem;
$sidebar-nav-background-color: #2a2d35;
$sidebar-nav-item-padding-y: 0.57rem;
$sidebar-nav-item-padding-left: 1.78rem;
$sidebar-nav-item-padding-right: 1rem;

$color-panel-header-border: #484c5a;
$nav-tabs-link-active-border-color: $color-panel-header-border;
$color-tab-active: #3b3d45;
$color-panel-filed-background: #3b3d45;
$color-tab-hover: #494b54;


//background: rgba(97, 103, 121, 0.1);
$color-default-item-highlight-bg: #43454c;
//border-color: rgba(97, 103, 121, 1);
$color-default-item-highlight-border: #575a63;
$color-default-item-highlight-font: $color-white;
