$color-red: #db524b;
$color-yellow: #f7af3e;
$color-green: #1bbf89;

$color-white: #ffffff;
$color-black: #000000;

$color-font-base: #949ba2;
$color-font-primary: #C741FC;

$color-font-left-nav-base: #848c94;
$color-font-left-nav-hover: #c0c4c8;

$color-primary: #9400ce;
